<% public_values = profile.public_values %>
<% if !public_values.blank?%>
  <tr> <th colspan="2"><%= _('Others') %> </th></tr>
  <% profile.public_values.each do |cv|%>
    <tr>
      <td class="field-name"><%= cv.custom_field.name %></td>
      <td><%= render :partial => "custom_fields/#{cv.custom_field}", :locals => {:value => profile.custom_value(cv.custom_field.name)} %></td>
    </tr>
  <% end%>
<% end %>

